version: "3.0"

services:
  workspace:
    build: .
    restart: always
    tty: true
    volumes:
      - ${HOME}/.Xauthority:/root/.Xauthority
      - ./workdir:/root/workdir
      - ./settings:/root/settings
    environment:
      - 'PS1=[\u@\h \W] \$$ '
      - DISPLAY=${HOSTNAME}:0
    command: /bin/bash -c "bash"
